<% 
    const req = (user.access === 1) ? request : rq; 
%>
            <section class="padding10 corner20 col bgWhite shadow1 marginTop0">
                <section class="justifyStart padding5 paddingInline10">
                    <p class="size16 str400">Status Tracker</p>
                </section>
                <% if ( req.status === "Pending") { %>
                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-scroll"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Registrar</p>
                            <p class="size10 darkGray str500"><%= req.createdAtFormatted || "Pending" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled"><i class="fas fa-hourglass-half"></i> For Review</a>
                </section>

                <% } else if ( req.status === "Reviewed") { %>
                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-scroll"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Registrar</p>
                            <p class="size10 darkGray str500"><%= req.reviewAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Reviewed</a>
                </section>


                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-coins"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Accounting</p>
                            <p class="size10 darkGray str500"><%= req.reviewAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled"><i class="fas fa-hourglass-half"></i> For Assessment</a>
                </section>

                <% } else if ( req.status === "Assessed") { %>
                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-scroll"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Registrar</p>
                            <p class="size10 darkGray str500"><%= req.reviewAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Reviewed</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-coins"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Accounting</p>
                            <p class="size10 darkGray str500"><%= req.assessAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Assessed</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-credit-card"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Payment</p>
                            <p class="size10 darkGray str500"><%= req.assessAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled"><i class="fas fa-hourglass-half"></i> For Payment</a>
                </section>

                <% } else if ( req.status === "For Verification") { %>
                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-scroll"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Registrar</p>
                            <p class="size10 darkGray str500"><%= req.reviewAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Reviewed</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-coins"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Accounting</p>
                            <p class="size10 darkGray str500"><%= req.assessAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Assessed</a>
                </section>
                
                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-credit-card"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Payment</p>
                            <p class="size10 darkGray str500"><%= req.payAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled"><i class="fas fa-hourglass-half"></i> For Verification</a>
                </section>

                <% } else if ( req.status === "Verified") { %>
                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-scroll"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Registrar</p>
                            <p class="size10 darkGray str500"><%= req.reviewAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Reviewed</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-coins"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Accounting</p>
                            <p class="size10 darkGray str500"><%= req.assessAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Assessed</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-credit-card"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Payment</p>
                            <p class="size10 darkGray str500"><%= req.verifyAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Verified</a>
                </section>

                <% } else if ( req.status === "For Release") { %>
                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-scroll"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Registrar</p>
                            <p class="size10 darkGray str500"><%= req.reviewAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Reviewed</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-coins"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Accounting</p>
                            <p class="size10 darkGray str500"><%= req.assessAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Assessed</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-credit-card"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Payment</p>
                            <p class="size10 darkGray str500"><%= req.verifyAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Verified</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-check-circle green"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500 green">Releasing</p>
                            <p class="size10 darkGray str500"><%= req.turnAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled"><i class="fas fa-dolly w15"></i> For Release</a>
                </section>

                <% } else if ( req.status === "Claimed") { %>
                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-scroll"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Registrar</p>
                            <p class="size10 darkGray str500"><%= req.reviewAtFormatted || "Pending" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Reviewed</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-coins"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Accounting</p>
                            <p class="size10 darkGray str500"><%= req.assessAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Assessed</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled"><i class="fas fa-credit-card"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500">Payment</p>
                            <p class="size10 darkGray str500"><%= req.verifyAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled border0"><i class="bi bi-patch-check-fill"></i> Verified</a>
                </section>

                <div class="height0 paddingLeft30 justifyBetween"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgSoft corner20">
                    <div class="height0 width0 gap5">
                        <a href="" class="nav cnav disabled green borderGreen"><i class="fas fa-check-circle"></i></a>
                        <section class="padding0 col alignStart width0">
                            <p class="upperCase  str500 green">Releasing</p>
                            <p class="size10 darkGray str500"><%= req.claimedAtFormatted || "Processing" %></p>
                        </section>
                    </div>
                    <a href="" class="nav disabled borderGreen green"><i class="fas fa-flag w15"></i> Claimed</a>
                </section>

                <% } else { %>

                    No action was made
                <% } %>

                <% if (req.holdAt) { %>

                <div class="height0 paddingLeft30 justifyBetween red"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgRed100" style="border-radius: 1.5rem !important;">
                    <div class="height0 width0 gap5 paddingInline10">
                        <%
                        const options = { 
                            year: 'numeric', 
                            month: 'short', 
                            day: 'numeric', 
                            hour: 'numeric', 
                            minute: '2-digit', 
                            hour12: true 
                        }; 
                        const formattedDate2 = new Date(req.holdAt).toLocaleString('en-US', options); 
                        %>
                        <p class=" str500"><%= formattedDate2 %></p>
                    </div>
                    <a href="" class="nav disabled dnav"><i class="fas fa-clock"></i> On Hold</a>
                </section>
                <section class="textCenter textBalance marginTop10">
                    For further assistance, please visit the Registrar’s Office on your campus, or contact us through our official hotline at <%= seedUser.phone %> or via email at <%= seedUser.email %>
                </section>

                <% } %>

                <% if (req.declineAt) { %>

                <div class="height0 paddingLeft30 justifyBetween black"><i class="fas fa-ellipsis-vertical"></i></div>

                <section class="height0 justifyBetween bgRed100" style="border-radius: 1.5rem !important;">
                    <div class="height0 width0 gap5 paddingInline10">
                        <%
                        const options = { 
                            year: 'numeric', 
                            month: 'short', 
                            day: 'numeric', 
                            hour: 'numeric', 
                            minute: '2-digit', 
                            hour12: true 
                        }; 
                        const formattedDate3 = new Date(req.declineAt).toLocaleString('en-US', options); 
                        %>
                        <p class=" str500"><%= formattedDate3 %></p>
                    </div>
                    <a href="" class="nav disabled dnav"><i class="fas fa-xmark-circle"></i> Declined</a>
                </section>
                <section class="textCenter textBalance marginTop10">
                    For further assistance, please visit the Registrar’s Office on your campus, or contact us through our official hotline at <%= seedUser.phone %> or via email at <%= seedUser.email %>
                </section>
                
                <% } %>

               

            </section>